modules/dujiangyan/modules/dujiangyan-config/src/main/resources/META-INF/djy.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://ccc.com/schema/djy"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ccc.com/schema/djy">

    <xsd:complexType name="applicationType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation>应用id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="owner" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>应用负责人</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation>注册中心id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="optional" default="zookeeper">
            <xsd:annotation>
                <xsd:documentation>注册中心协议</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>注册中心服务地址</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional" default="30000">
            <xsd:annotation>
                <xsd:documentation>注册中心服务超时时间</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="serviceType">
        <xsd:attribute name="id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>服务Id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>服务关联的springBean</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="api" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>服务接口</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>服务端口</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string" use="optional" default="1.0">
            <xsd:annotation>
                <xsd:documentation>服务的版本</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="owner" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>服务负责人</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional" default="30000">
            <xsd:annotation>
                <xsd:documentation>请求服务超时时间</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>服务注册中心的id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="note" type="xsd:string" use="optional" >
            <xsd:annotation>
                <xsd:documentation>服务备注</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="referenceType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation>消费服务id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="api" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>消费的服务接口</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sid" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>消费的服务的id></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="version" type="xsd:string" use="optional" default="1.0">
            <xsd:annotation>
                <xsd:documentation>消费的服务版本</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string" use="optional" default="30000">
            <xsd:annotation>
                <xsd:documentation>消费服务超时时间</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>服务注册中心的id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="owner" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>消费服务负责人</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="application" type="applicationType">
        <xsd:annotation>
            <xsd:documentation>应用</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation>注册中心</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation>暴露的服务</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="reference" type="referenceType">
        <xsd:annotation>
            <xsd:documentation>消费服务</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>